.clients{
    height: 100vh;
    margin-top: 12rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;

    .title{
        color: #fff;
        font-family: $main-font;
        font-size: 4rem;
        font-weight: normal;
        align-self: flex-end;
        span{
            background: $label-color;
        }
    }

    .cards-container{
        margin-top: 5rem;
        
        .cards{
            display: flex;
            margin-right: -80px;
            
            

            .card{
                margin-right: 20px;
                background: #2b252e;
                color: #fff;
                padding: 40px;
                height: 300px;
                width: 350px;

                .card-info{
                    font-family: $primary-font;
                    line-height: 1.7;
                    font-weight: 350;
                }

                .user-info{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    .user-img{
                        background: #000;
                        width: 50px;
                        height: 50px;
                        margin-right: 20px;
                        border-radius: 100%;
                    }

                    .user-img-one{
                        background: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSO226ekYoFn_DR_PVqOtyIkVfkB_PPCsItb8IuuQdgZeaTNsno");
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: top;
                    }
                    .user-img-two{
                        background: url("https://c1.wallpaperflare.com/preview/385/74/519/young-man-suit-man-in-suit-portrait.jpg");
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: top;
                    }
                    .user-img-three{
                        background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScvWp16TUsja4XF8kR_WC71IiGiuG23CZ_Hk4q1PeKoqrSpUSS");
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    

                    .user-handle{
                        font-family: $primary-font;
                        font-weight: 300;
                        margin-top: 5px;
                    }
                }
            }
        }
        
    }
}
